/*
#monCarrer
{
    width: 80em;
    height: 50em;
    position: absolute;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
*/
#miniature
{
    text-align: center;
}

.facebook
{
    background: url("IMAGE/facebook.png") no-repeat;
    margin-left: 1em;
    width: 2.8em;
    height: 2.8em;
    display: flex;
}

.linkedin
{
    background: url("IMAGE/linkedin.jpg") no-repeat;
    width: 2.8em;
    height: 2.8em;
    margin-right: 1em;
    display: flex;
}

#imageClique
{
    display: flex;
    justify-content: right;
    align-items: center;
    display: flex;
}

#contact
{
    padding-left: 2%;
    color: black;
}

#monParcours
{
    padding-left: 2%;
    color: black; 
}

a
{
    text-decoration: none;
}

.text
{
    font-size: 2em;
    text-align: center;
    color: violet;
}

.colone1
{
    margin-left: 2em;
    margin-right: 2em;
}

.colone2
{
    margin-left: 2em;
    margin-right: 2em;
}
.colone3
{
    margin-left: 2em;
    margin-right: 2em;
}

h1, h4, p
{
    text-align: center;
}
